{% extends 'base.html' %}
{% block content %}
<!--Page Stylesheet-->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/IndexStyle.css' %}" />
  <div class="center">
    <!-- Showcase -->
    <section class="bg-dark text-light p-5 text-center text-sm-start p-lg-0 pt-lg-3">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Join the <span class="text-warning">Pine View School</span> Alumni Community</h1>
                <p class="lead my-4">
                    Take advantage of all the alumni community has to offer
                    and connect with fellow Pythons for free!
                </p>
                <a class="btn btn-primary btn-lg"
                href="{% url 'signup' %}"
                role="button"
                >
                    Sign Up
                </a>
                </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="images/undraw_connecting_teams_re_hno7.svg" alt="">
            </div>
        </div>
      <br>
    </section>
  </div>

    <!-- Newsletter -->
    <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Sign Up For Our Newsletter</h3>
                <div class="input-group">
                    <input type="text"
                    class="form-control"
                    placeholder="Enter Email">
                    <button
                    class="btn btn-dark btn-lg"
                    type="button"
                    id="button-addon2"
                    >
                    Submit
                    </button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
