{% extends 'base.html' %}
{% block head %}
    <title>PVS Alumni Community</title>
    <style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    </style>
{% endblock %}

{% block content %}
{% load static %}

<body>
    <!-- Banner -->
    <div class="d-sm-flex align-items-center justify-content-between">
        <img class="img-fluid d-none d-sm-block center" src="{% static 'admin/img/images/pv50banner.jpeg' %}" alt="">
    </div>

    <!-- Showcase -->
    <section class="bg-dark text-light p-5 text-center text-sm-start p-lg-0 pt-lg-3">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Join the Official <span class="text-warning">Pine View School</span> Alumni Community</h1>
                <p class="lead my-4">
                    Contribute to the mission of linking former Pine View School teachers, students, and staff.
                </p>
                <p class="lead my-4">
                    Take advantage of all the alumni community has to offer
                    and connect with fellow Pythons for free!
                </p>
                <a class="btn btn-primary btn-lg"
                href="{% url 'signup' %}"
                role="button"
                >
                    Sign Up
                </a>
                </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'admin/img/images/pvsign.jpeg' %}" alt="">
            </div>
        </div>
    </section>

   <!--Contact Us-->
   <section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-3">Do you have any questions? Please do not hesitate to contact us directly.</p>

    <div class="row row-margin">

        <!--Grid column-->
        <div class="col-md mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" target="_blank" action="https://formsubmit.co/517ad570fff93d0b9d809579a30924ef" method="POST">
                <input type="hidden" name="_url" value="https://pvdatabase.herokuapp.com">
                <!--Grid row-->
                <div class="row row-margin px-5">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" class="">Your name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="email" class="">Your email</label>
                            <input type="text" id="email" name="email" class="form-control">
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row row-margin px-5">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="subject" class="">Subject</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row row-margin px-5 pb-3">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="message">Your message</label>
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                        </div>

                    </div>
                </div>
            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div>
    </div>
    </section>
</body>
{% endblock %}