{% extends 'base.html' %}

{% block content %}
    <!-- Form -->
    <section class="form pt-4">
    <div class="container">
    <div class="rows no-gutters">
    <h1 class = "pt-4 pb-4 text-center">Edit your profile</h1>
    <form method = "POST" action="{% url 'edit' %}">
        <div class="row mb-3">
            <div class="col">
                <label for="inputfirstname" class="form-label">First Name</label>
                <input value = {{first_name}} type="firstname" id="inputfirstname" class="form-control" required>
            </div>
            <div class="col">
                <label for="inputlastname" class="form-label">Last Name</label>
                <input value = {{last_name}} type="lastname" id="inputlastname" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="inputyear" class="form-label">High School Graduation Year</label>
                <input value = {{grad_year}} type="year" id="inputyear" class="form-control" required>
            </div>
            <div class="col">
                <label for="inputcollege" class="form-label">College(s)</label>
                <input value = {{college}} type="college" id="inputcollege" class="form-control">
            </div>
            <div class="col">
                <label for="inputmajor" class="form-label">Major(s)/Department(s)</label>
                <input value = {{major}} type="major" id="inputmajor" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="inputcountry" class="form-label">Country</label>
                <input value = {{country}} type="country" id="inputcountry" class="form-control" required>
            </div>
            <div class="col">
                <label for="inputstate" class="form-label">State</label>
                <select class="form-select" size="4">
                    <option value = {{state}} selected> {{state}} </option>
                    <option value="AL">AL</option>
                    <option value="AK">AK</option>
                    <option value="AZ">AZ</option>
                    <option value="AR">AR</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="IA">IA</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="ME">ME</option>
                    <option value="MD">MD</option>
                    <option value="MA">MA</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MS">MS</option>
                    <option value="MO">MO</option>
                    <option value="MT">MT</option>
                    <option value="NE">NE</option>
                    <option value="NV">NV</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NY">NY</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VT">VT</option>
                    <option value="VA">VA</option>
                    <option value="WA">WA</option>
                    <option value="WV">WV</option>
                    <option value="WI">WI</option>
                    <option value="WY">WY</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="inputcity" class="form-label">City</label>
                <input value = {{city}} type="city" id="inputcity" class="form-control" required>
            </div>
            <div class="col">
                <label for="inputzip" class="form-label">Zip</label>
                <input value = {{zip}} type="zip" id="inputemail" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="inputjobtitle" class="form-label">Job Title</label>
                <input value = {{job}} type="jobtitle" id="inputjobtitle" class="form-control">
            </div>
            <div class="col">
                <label for="inputemployer" class="form-label">Employer</label>
                <input value = {{employer}} type="employer" id="inputemployer" class="form-control">
            </div>
        </div>
        Please reselect these categories <<br>

        <div class="row mb-3">
            <div class="col">
                <label for="inputfield" class="form-label">Field/Specialty (you may select more than one)</label>
                <select class="form-select" multiple size="4">
                    <option value="Accounting">Accounting</option>
                    <option value="Advertising">Advertising</option>
                    <option value="Architecture">Architecture/Planning</option>
                    <option value="Building/Construction">Building/Construction</option>
                    <option value="Consulting">Consulting</option>
                    <option value="Energy Resources">Energy Resources</option>
                    <option value="Engineering-Chemical">Engineering-Chemical</option>
                    <option value="Engineering-Civil">Engineering-Civil</option>
                    <option value="Engineering-Electrical">Engineering-Electrical</option>
                    <option value="Engineering-Mech./Aerospace">Engineering-Mech./Aerospace</option>
                    <option value="Engineering-Other">Engineering-Other</option>
                    <option value="Environmental Affairs">Environmental Affairs</option>
                    <option value="Finance-Asset Management">Finance-Asset Management</option>
                    <option value="Finance-Corporate Finance">Finance-Corporate Finance</option>
                    <option value="Finance-Hedge Funds">Finance-Hedge Funds</option>
                    <option value="Finance-Investment Mngmt.">Finance-Investment Mngmt.</option>
                    <option value="Finance-Private Equity">Finance-Private Equity</option>
                    <option value="Finance-Commercial Banking">Finance-Commercial Banking</option>
                    <option value="Finance-Financial Planning">Finance-Financial Planning</option>
                    <option value="Finance-Investment Banking">Finance-Investment Banking</option>
                    <option value="Finance-Other">Finance-Other</option>
                    <option value="Finance-Securities/Commodities">Finance-Securities/Commodities</option>
                    <option value="Finance-Tax, Trust, & Estate">Finance-Tax, Trust, & Estate</option>
                    <option value="Finance-Venture Capital">Finance-Venture Capital</option>
                    <option value="Foreign Service">Foreign Service</option>
                    <option value="Fundraising">Fundraising</option>
                    <option value="Government Departments & Agencies">Government Departments & Agencies</option>
                    <option value="Government-Cabinet Member">Government-Cabinet Member</option>
                    <option value="Government-Executive">Government-Executive</option>
                    <option value="Government-Legislator">Government-Legislator</option>
                    <option value="Government-Other">Government-Other</option>
                    <option value="Government-Policy Analysis">Government-Policy Analysis</option>
                    <option value="Government-Politics">Government-Politics</option>
                    <option value="Government-White House Staff">Government-White House Staff</option>
                    <option value="Health Care-Mental">Health Care-Mental</option>
                    <option value="Health Care-Other">Health Care-Other</option>
                    <option value="Health Care-Physical">Health Care-Physical</option>
                    <option value="Human Resources">Human Resources</option>
                    <option value="Insurance">Insurance</option>
                    <option value="Law-Corporate">Law-Corporate</option>
                    <option value="Law-Criminal">Law-Criminal</option>
                    <option value="Law-Intellectual Property">Law-Intellectual Property</option>
                    <option value="Law-Litigation">Law-Litigation</option>
                    <option value="Law-Other">Law-Other</option>
                    <option value="Law-Patent/Copyright">Law-Patent/Copyright</option>
                    <option value="Law-Tax">Law-Tax</option>
                    <option value="Law-Trusts & Estates">Law-Trusts & Estates</option>
                    <option value="Management/Admin">Management/Admin</option>
                    <option value="Marketing/Sales">Marketing/Sales</option>
                    <option value="Military">Military</option>
                    <option value="Other">Other</option>
                    <option value="Performing Arts">Performing Arts</option>
                    <option value="Printing/Publishing">Printing/Publishing</option>
                    <option value="Public Relations">Public Relations</option>
                    <option value="Radio/TV/Film/Theater">Radio/TV/Film/Theater</option>
                    <option value="Real Estate">Real Estate</option>
                    <option value="Religious Services">Religious Services</option>
                    <option value="Research & Development">Research & Development</option>
                    <option value="Social Work">Social Work</option>
                    <option value="Sports/Recreation">Sports/Recreation</option>
                    <option value="Teaching-Arts">Teaching-Arts</option>
                    <option value="Teaching-Humanities">Teaching-Humanities</option>
                    <option value="Teaching-Other">Teaching-Other</option>
                    <option value="Teaching-Science/Engineering">Teaching-Science/Engineering</option>
                    <option value="Teaching-Social Science">Teaching-Social Science</option>
                    <option value="Technology-Biotechnology">Technology-Biotechnology</option>
                    <option value="Technology-E-Commerce">Technology-E-Commerce</option>
                    <option value="Technology-Hardware/Software Dev.">Technology-Hardware/Software Dev.</option>
                    <option value="Technology-Info. Services/Systems">Technology-Info. Services/Systems</option>
                    <option value="Technology-Telecommunications">Technology-Telecommunications</option>
                    <option value="Technology-Other">Technology-Other</option>
                    <option value="Transportation/Travel">Transportation/Travel</option>
                    <option value="Veterinary Medicine">Veterinary Medicine</option>
                    <option value="Visual/Fine Arts">Visual/Fine Arts</option>
                    <option value="Writing/Editing">Writing/Editing</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="inputclubs" class="form-label">Student Activities (you may select more than one)</label>
                <select class="form-select" multiple size="4">
                    <option value="1">Academic Olympics</option>
                    <option value="2">A.K.H.L. (Achieve, Know, Help, Lead)</option>
                    <option value="3">Anime Club</option>
                    <option value="4">Anime Pride</option>
                    <option value="5">Artificial Intelligence and Machine Learning Club</option>
                    <option value="6">Astronomy Club</option>
                    <option value="7">Aviation Club</option>
                    <option value="8">Basketball Group</option>
                    <option value="9">Biology Olympiad</option>
                    <option value="10">Biomedical Engineering Club (BMES)</option>
                    <option value="11">Book Club</option>
                    <option value="12">buildOn</option>
                    <option value="13">Business Professionals of America</option>
                    <option value="14">Chess Club</option>
                    <option value="15">C2 Community Contributions</option>
                    <option value="16">Chinese Club</option>
                    <option value="17">Chinese National Honor Society</option>
                    <option value="18">Ciao! - The Italian Club</option>
                    <option value="19">Coexistence Club</option>
                    <option value="20">Competitive Programming Club</option>
                    <option value="21">Cosplay</option>
                    <option value="22">Crate Diggers (A Vinyl Record Club)</option>
                    <option value="23">Current Events Club</option>
                    <option value="24">Desi Club (Indian & South Asian Cultural Club)</option>
                    <option value="25">Disc Golf Club</option>
                    <option value="26">Dive Club</option>
                    <option value="27">Diversifying & Integrating Gifted Schools (DIGS)</option>
                    <option value="28">Doodle Club</option>
                    <option value="29">Drama Club</option>
                    <option value="30">Drone Club</option>
                    <option value="31">Elementary Music Club</option>
                    <option value="32">Elementary Student Council</option>
                    <option value="33">Entrepreneur Club</option>
                    <option value="34">Film Club</option>
                    <option value="35">FIRST Robotics</option>
                    <option value="36">Florida Future Educators of America (FFEA)</option>
                    <option value="37">Gender & Sexuality Alliance (GSA)</option>
                    <option value="38">National French Honor Society</option>
                    <option value="39">Gardening Club</option>
                    <option value="40">Health and Education Initiatives (HEI)</option>
                    <option value="41">History Bowl</option>
                    <option value="42">History Club</option>
                    <option value="43">HOSA (Future Health Professionals)</option>
                    <option value="44">Interact Club</option>
                    <option value="45">International Current Events Debate (ICED)</option>
                    <option value="46">Investors Club</option>
                    <option value="47">Key Club</option>
                    <option value="48">Linguistics Club</option>
                    <option value="49">Luminary Magazine</option>
                    <option value="50">Magic the Gathering</option>
                    <option value="51">Marine Science Club</option>
                    <option value="52">Math Club</option>
                    <option value="53">MATHCOUNTS</option>
                    <option value="54">MathWorks Math Modeling Challenge</option>
                    <option value="55">Mock Trial</option>
                    <option value="56">Model United Nations</option>
                    <option value="57">MS Literary Magazine Club</option>
                    <option value="58">National Art Honor Society</option>
                    <option value="59">National French Honor Society</option>
                    <option value="60">National Honor Society</option>
                    <option value="61">National Junior Honor Society</option>
                    <option value="62">Nature Club</option>
                    <option value="63">Neuroscience Club</option>
                    <option value="64">Odyssey of the Mind</option>
                    <option value="65">Outreach for Impact</option>
                    <option value="66">Overbooked</option>
                    <option value="67">Peace Jam</option>
                    <option value="68">Peer Mentoring</option>
                    <option value="69">Philosophy Club</option>
                    <option value="70">Photography</option>
                    <option value="71">Poet Society</option>
                    <option value="72">Political Action</option>
                    <option value="73">Psi Alpha (Psychology Honor Society)</option>
                    <option value="74">Puzzle Club</option>
                    <option value="75">Red Cross Club</option>
                    <option value="76">Rho Kappa Honor Society</option>
                    <option value="77">Run Club</option>
                    <option value="78">Russian Cultural Heritage</option>
                    <option value="79">SAT Prep Club</option>
                    <option value="80">Scholars 4 Scholars</option>
                    <option value="81">Science National Honor Society</option>
                    <option value="82">Science Olympiad</option>
                    <option value="83">Signing @ PV - American Sign Language Club</option>
                    <option value="84">Smash Club</option>
                    <option value="85">Soccer Club</option>
                    <option value="86">Spanish National Honor Society</option>
                    <option value="87">Speech & Debate</option>
                    <option value="88">Students for Asian Advocacy</option>
                    <option value="89">Students Organized for Animal Rights (SOAR)</option>
                    <option value="90">Students Working Against Tobacco (SWAT)</option>
                    <option value="91">Technology Student Association (TSA)</option>
                    <option value="92">Together Women Rise (TWR)</option>
                    <option value="93">Tri-M Music Honor Society</option>
                    <option value="94">Tree Huggers Environmental Club</option>
                    <option value="95">UNICEF Club</option>
                    <option value="96">Ultimate Frisbee Club</option>
                    <option value="97">Unidos Now at Pine View</option>
                    <option value="98">Uno Club</option>
                    <option value="99">VEX Robotics</option>
                    <option value="100">Women in Literature</option>
                    <option value="101">Young Investors Society</option>
                    <option value="102">Weight Lifting Club</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" class="btn1 mb-3">
            </div>
        </div>
    </form>
    </div>
    </div>
    </section>

{% endblock %}
