{% extends 'base.html' %}
{% block content %}
    <!-- Form -->
    <section class="form pt-4">
    <div class="container">
    <div class="rows no-gutters">
    <h1 class = "pt-4 pb-4 text-center">Forgot your password?</h1>
    <h4 class = "text-center pb-4">No problem! Just tell us the email you used to create your account.</h4>
    <form method = 'POST' action="{% url 'home' %}">
      {% csrf_token %}
        <div class="row row-margin mb-3">
            <div class="col">
                <label for="inputemail" class="form-label">Email address</label>
                <input type="email" placeholder="janedoe@example.com" name = "reset_email" id="inputemail" class="form-control" required>
            </div>
        </div>
        <div class="row row-margin mb-3">
            <div class="col">
                <input type="submit" class="btn1 mb-3"></button>
            </div>
        </div>
        <p class="pb-4">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </form>
    </div>
    </div>
    </section>

{% endblock %}
