{% extends 'base.html' %}

{% block content %}

    <!-- Form -->
    <section class="form pt-4">
    <div class="container">
    <div class="rows no-gutters">
    <h1 class = "pt-4 pb-4 text-center">Sign in to your account</h1>
    {% if error %}
    {{error}}
    {% endif %}
    <form method = "POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                <label for="inputemail" class="form-label">Email address</label>
                <input type="email" placeholder="janedoe@example.com" name = 'inputemail' id="inputemail" class="form-control" required>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="inputpassword" class="form-label">Password</label>
                <input type="password" placeholder="*******" name = "inputpassword" id="inputpassword" class="form-control" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <input type="submit" class="btn1 mb-3">
            </div>
        </div>
        <a href="{% url 'reset_password' %}">Forgot password?</a>
        <p class="pb-4">Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    </form>
    </div>
    </div>
    </section>

{% endblock %}
